@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

html, body {
  background-color: #282828;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body > h1, body > p {
  color: #FFF;
  display: inline;
}
.home-page ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.home-page ul li {
  margin : 0;
  padding: 0;
  display: inline-block;
}
video {
  width: 100%;
  max-height: 100%;
}
.vid-page h1 {
  display: none;
  visibility: hidden;
}